#navbar-button-div{
    position: absolute;
    margin: 5px;
}

.navbar-button{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 15px;
    border: 0px solid;
    background-color: #999;
}