:root {
    /* Geral */
    --gui-default-size: 60px;

    /* Buttons */
    --button-bg: #ccc;
    --button-bg-hover: #ddd;

    /* Tools */
    --tool-icon: #fff;
    --selected-tool: #7b2cbf;
    --selected-tool-hover: #9d4edd;
    
    /* Input Box */
    --input-icon: #fff;
    --accepted: #3dc521;
    --accepted-hover: #62d84b;
    --warning: #eed962;
    --warning-hover: #f3e17b;
    --rejected: #f53434;
    --rejected-hover: #fc6161;
    --error-message: #816e00;

    /* Context Menu */
    --context-menu-bg: #fff;
    --context-menu-border: #f6f6f6;
    --context-menu-bg-hover: #f6f6f6;

    /* Html */
    --html-bg: #ebebeb; /* Mesma cor que o bg do canvas */

}
  
html{
    background-color: var(--html-bg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;

    /* Remove scrollbars */
    overflow: hidden;
}


#navbar-div{
    position: absolute;
    width: 100vw;
    margin: 5px; 
    display: inline-block;
    box-sizing: border-box;
    animation-name: slidedown;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier();
}

#toolbox{
    float: left;
}

#automata-input-div{
    float: right;
    margin-right: 10px; /* Não entedi pq precisa disso, mas precisa  */
}

.input-button.accepted{
    background-color: var(--accepted);
}
.input-button.accepted:hover{
    background-color: var(--accepted-hover);
}
.input-button.rejected{
    background-color: var(--rejected);
}
.input-button.rejected:hover{
    background-color: var(--rejected-hover);
}
.input-button.warning{
    background-color: var(--warning);
}
.input-button.warning:hover{
    background-color: var(--warning-hover);
}
.input-button > svg{
    fill: var(--input-icon)
}



.automata-input-error{
    height: 30px;
    width: calc(100% - 10px);
    margin: 5px;
    /* margin-left: -10px; */
    border-radius: 5px;
    border: 0px solid;
    background-color: var(--button-bg);
    font-size: 17px;
    
    text-align: center;

    background-color: var(--warning-hover);

    box-sizing: border-box;
}

.automata-input-error > span {
    vertical-align: middle;
    color: var(--error-message);
}

.canvas-button:focus{
    outline: 0px solid;
}

.canvas-button{
    width: var(--gui-default-size);
    height: var(--gui-default-size);
    margin: 5px;
    border-radius: 5px;
    border: 0px solid;
    background-color: var(--button-bg);
    vertical-align: top;
}

.automata-input:focus{
    border: 0px solid;
    outline: 0px solid;
    background-color: var(--button-bg);
}

.automata-input{
    height: var(--gui-default-size);
    width: 325px;
    margin: 5px;
    border-radius: 5px;
    border: 0px solid;
    background-color: var(--button-bg);
    font-size: 26px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.navbar-button.redo{
    border-radius: 0% 5px 5px 0%;
    margin-left: 0px;
}
.navbar-button.undo{
    border-radius: 5px 0% 0% 5px;
    margin-right: 0px;
}

.navbar-button.selected{
    background-color: var(--selected-tool);
    color: var(--tool-icon);
}
.navbar-button.selected > svg{
    color: var(--tool-icon);
    fill: var(--tool-icon);
    stroke: var(--tool-icon);
}
.navbar-button.selected:hover{
    background-color: var(--selected-tool-hover);
}

.navbar-button > svg{
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0));
    transition: .2s;
}

.navbar-button.selected:hover > svg{

}
.navbar-button:hover > svg{

}

.rotateicon180 > svg{
    transform: rotate(180deg);
}

.canvas-button:hover{
    background-color: var(--button-bg-hover);
} 

#contextMenu {
    width: 100px;
    background-color: var(--context-menu-bg);
    border: 2px solid var(--context-menu-border);
    border-radius: 5px;
    position: absolute;
    z-index: 1000;
    padding-top: 5px;
    padding-bottom: 5px;
}

#contextMenu > *{
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#contextMenu > *:hover{
    background-color: var(--context-menu-bg-hover);
}

#contextMenu.hidden {
display: none;
} 

@keyframes fadein {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes slideup {
    0%   {bottom: -100px;}
    100% {bottom: 0px;}
}

@keyframes slidedown {
    0%   {top: -100px;}
    100% {top: 0px;}
}

#simulation-controller-div{
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin: 5px;
    display: flex;
    justify-content: center;
    animation-name: slideup;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier();
}

#simulation-controller-buttons-div{
    
}
