/* Dark Theme */
:root {
    /* Geral */
    --gui-default-size: 60px;
    --text-color: #E9ECEF;

    /* Buttons */
    --button-bg: #343A40;
    --button-bg-hover: #495057;
    --button-icon: #ADB5BD;
    --button-icon-disabled: #4f565e;

    /* Tools */
    --tool-icon: #ced4da;
    --selected-tool-icon: #ffe4c4;
    --selected-tool: #FF6D00;
    --selected-tool-hover: #FF9100;
    
    /* Input Box */
    --accepted: #00C853;
    --accepted-hover: #00E676;
    --accepted-icon: #B9F6CA;
    --warning: #FFD600;
    --warning-hover: #FFEA00;
    --warning-icon: #fffce0;
    --rejected: #eb022f;
    --rejected-hover: #FF1744;
    --rejected-icon: #FFCDD2;
    --error-message-div: #FF6D00;
    --error-message: #ffe4c4;
    --input-palceholder: #6C757D;

    /* Context Menu */
    --context-menu-bg: #343A40;
    --context-menu-border: #343A40;
    --context-menu-bg-hover: #495057;
    
    /* Popup */
    --popup-button-bg: #495057;
    --popup-button-bg-hover: #61686f;
}

/* Shows */
:root {
    --shadow-color: 0deg 0% 10%;
    --shadow-elevation-low:
      0px 0.7px 0.8px hsl(var(--shadow-color) / 0.35),
      0px 1.2px 1.3px -1.2px hsl(var(--shadow-color) / 0.35),
      0px 2.9px 3.3px -2.5px hsl(var(--shadow-color) / 0.35);
    --shadow-elevation-medium:
      0px 0.7px 0.8px hsl(var(--shadow-color) / 0.36),
      0px 2.4px 2.7px -0.8px hsl(var(--shadow-color) / 0.36),
      0px 6px 6.8px -1.7px hsl(var(--shadow-color) / 0.36),
      0.1px 14.5px 16.3px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
      0px 0.7px 0.8px hsl(var(--shadow-color) / 0.39),
      0px 4.8px 5.4px -0.4px hsl(var(--shadow-color) / 0.39),
      0px 9.4px 10.6px -0.8px hsl(var(--shadow-color) / 0.39),
      0.1px 16.5px 18.6px -1.2px hsl(var(--shadow-color) / 0.39),
      0.1px 28.2px 31.7px -1.7px hsl(var(--shadow-color) / 0.39),
      0.2px 46.3px 52.1px -2.1px hsl(var(--shadow-color) / 0.39),
      0.4px 73px 82.1px -2.5px hsl(var(--shadow-color) / 0.39);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: var(--text-color);
}

html{
    background-color: var(--html-bg);
    /* Remove scrollbars */
    overflow: hidden;
}


#navbar-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    width: 100vw;
    margin: 5px; 
    box-sizing: border-box;
    animation-name: slidedown;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier();
}

#toolbox{
    display: flex;
    flex-direction: column;
}

#automata-input-div{
    float: right;
    margin-right: 5px;
}

.input-button.accepted{
    background-color: var(--accepted);
}
.input-button.accepted > svg{
    fill: var(--accepted-icon);
    stroke: var(--accepted-icon);
}
.input-button.accepted:hover{
    background-color: var(--accepted-hover);
}
.input-button.rejected{
    background-color: var(--rejected);
}
.input-button.rejected:hover{
    background-color: var(--rejected-hover);
}
.input-button.rejected > svg{
    fill: var(--rejected-icon);
    stroke: var(--rejected-icon);
}
.input-button.warning{
    background-color: var(--warning);
}
.input-button.warning:hover{
    /* background-color: var(--warning-hover); */
    background-color: var(--warning);
    cursor: default;
}
.input-button.warning > svg{
    fill: var(--warning-icon);
    stroke: var(--warning-icon);
}


.automata-input-error{
    height: 30px;
    width: calc(100% - 10px);
    margin: 5px;
    /* margin-left: -10px; */
    border-radius: 5px;
    border: 0px solid;
    background-color: var(--button-bg);
    font-size: 17px;
    
    text-align: center;

    background-color: var(--error-message-div);

    box-sizing: border-box;
}

.automata-input-error > span {
    vertical-align: middle;
    color: var(--error-message);
}

.canvas-button:focus{
    outline: 0px solid;
}

.canvas-button > svg{
    fill:var(--tool-icon);
    stroke:var(--tool-icon);

    height: 70%;
    width: auto;
    margin: 3px;
}

.canvas-button{
    box-shadow: var(--shadow-elevation-medium);
    width: var(--gui-default-size);
    height: var(--gui-default-size);
    margin: 5px;
    border-radius: 5px;
    border: 0px solid;
    background-color: var(--button-bg);
    vertical-align: top;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.canvas-button:disabled > svg{
    fill: var(--button-icon-disabled);
    stroke: var(--button-icon-disabled);
}

.canvas-button:disabled:hover{
    background-color: var(--button-bg);
    cursor: default;
}

/* .disabled-button-class {
    opacity: 0.6;
    cursor: not-allowed;
} */

.automata-input:focus{
    border: 0px solid;
    outline: 0px solid;
    background-color: var(--button-bg);
}

.automata-input{
    box-shadow: var(--shadow-elevation-medium);
    height: var(--gui-default-size);
    width: 325px;
    margin: 5px;
    border-radius: 5px;
    border: 0px solid;
    background-color: var(--button-bg);
    font-size: 26px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.automata-input::placeholder{
    color: var(--input-palceholder);
}

.automata-input.is-simulating{
    border-left: 8px solid var(--error-message-div);
    padding-left: 12px;
}

/* .automata-input.small{
    .automata-input{
    
    height: 40px;
    font-size: 17px;
}

.input-button.small{
    height: 40px;
    font-size: 17px;
} */

.navbar-button.undo{
    border-radius: 5px 5px 0 0;
    margin-bottom: 0px;
}
.navbar-button.redo{
    border-radius: 0 0 5px 5px;
    margin-top: 0px;
}

.navbar-button.extra-option{
    /* outline: 1px solid red; */
    z-index: 5;
    animation: slideright;
    animation-duration: 0.3s;
}

.canvas-button.no-background{
    border: 1px solid var(--button-bg);
    background-color: var(--html-bg);
    box-shadow: none;
}
.canvas-button.no-background > svg{
    transform: rotateZ(-90deg);
    transition: stroke 0.3s ease, fill 0.3s ease;
}
.canvas-button.no-background:hover{
    background-color: var(--html-bg);
}
.canvas-button.no-background:hover > svg{
    fill: #fff;
    stroke: #fff;
}

.navbar-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* transition: width 0.5s; */
}

.navbar-button:hover{
    /* width: 90px; */
}

.navbar-button.selected{
    background-color: var(--selected-tool);
}
.navbar-button.selected > svg{
    fill: var(--selected-tool-icon);
    stroke: var(--selected-tool-icon);
}
.navbar-button.selected:hover{
    background-color: var(--selected-tool-hover);
}

.navbar-button > svg{
    fill: var(--tool-icon);
    stroke: var(--tool-icon);
}

.rotateicon180 > svg{
    transform: rotate(180deg);
}

.rotateicon90 > svg{
    transform: rotate(90deg);
}

.canvas-button:hover{
    background-color: var(--button-bg-hover);
} 

#contextMenu {
    width: 100px;
    background-color: var(--context-menu-bg);
    border: 2px solid var(--context-menu-border);
    border-radius: 3px;
    position: absolute;
    z-index: 1000;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: var(--shadow-elevation-medium);
}

#contextMenu > *{
    border-radius: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
#contextMenu > *:hover{
    background-color: var(--context-menu-bg-hover);
}

#contextMenu.hidden {
display: none;
} 

@keyframes fadein {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes slideup {
    0%   {bottom: -100px;}
    100% {bottom: 0px;}
}

@keyframes slideright {
    0%   {margin-left: -40px;}
    100% {margin-left: 5px;}
}

@keyframes slidedown {
    0%   {top: -100px;}
    100% {top: 0px;}
}

@keyframes pulseAnimation {
    0% {
      transform: scale(1);
      opacity: 0.7;
    }
    50% {
      transform: scale(1.05);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.7;
    }
  }

.simulation-message {
    width: max-content;
    font-size: 17px;
    vertical-align: middle;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--error-message);
    background-color: var(--error-message-div);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
  }

#simulation-controller-div{
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    animation-name: slideup;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier();
}

#simulation-controller-buttons-div{
    
}



#automata-input-list{
    float: right;
    height: 100vh;
    width: 415px;
    /* overflow-y: auto; */
}

#automata-input-adder-div{
    float: left;
    margin-right: 0px;
    width: 80px;
}
#automata-input-adder-div:hover{
    background-color: var(--button-bg);
}

.automata-input-adder-button{
    display: inline-block;
    /* width: 100%;
    height: 30px; */
    width: 40px;
    height: 100%;
    background-color: var(--button-bg);
    border: 0px solid;
}

.automata-input-adder-button:focus{
    outline: 0px solid;
}

.automata-input-adder-button.menos{
    border-radius: 0px 5px 5px 0px;
}
.automata-input-adder-button.mais{
    border-radius: 5px 0px 0px 5px;
}

.automata-input-adder-button > svg{
    fill:var(--tool-icon);
    stroke:var(--tool-icon);
    width: 80%;
    height: 80%;
}

.automata-input-adder-button:hover{
    background-color: var(--button-bg-hover);
    cursor: pointer;
}

.automata-input-adder-button:disabled > svg{
    fill: var(--button-icon-disabled);
    stroke: var(--button-icon-disabled);
}

.automata-input-adder-button:disabled:hover{
    background-color: var(--button-bg);
    cursor: default;
}

.navbar-row{
    display: flex;
    flex-direction: row;
}






/*

    GENERIC POPUP

*/
#generic-popup-main-div{
    z-index: 10000;

    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex; 
    justify-content: center;
    align-items: center;

    background-color: #00000050;
}

#generic-popup-outside-div{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

#generic-popup{
    min-width: 100px;
    background-color: var(--context-menu-bg);

    box-shadow: var(--shadow-elevation-medium);
    border-radius: 5px;
    border: 0px solid;
}

#generic-popup-close-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid var(--popup-button-bg);
}

#generic-popup-chindren-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    gap: 15px
}

#generic-popup-title{
    font-size: 18px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.generic-popup-close-button > svg{
    width: 35px;
    height: 35px;
}
.generic-popup-close-button{
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border-radius: 0px 5px 0px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generic-popup-close-button:hover{
    background-color: var(--button-bg-hover);
    cursor: pointer;
}

.generic-popup-close-button > svg{
    fill:var(--tool-icon);
    stroke:var(--tool-icon);
}

.generic-popup-input{

}

.generic-popup-input-submit-button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.canvas-button.generic-popup-button{
    box-shadow: var(--shadow-elevation-low);
    min-height: 35px;
    height: min-content;
    width: 100px;
    background-color: var(--selected-tool);
    font-size: 18px;
    margin: 0px;
    /* color: var(--tool-icon); */
}

.canvas-button.generic-popup-button:hover{
    background-color: var(--selected-tool-hover);
}

.generic-popup-input:focus{
    border: 0px solid;
    outline: 0px solid;
    background-color: var(--popup-button-bg);
}

.transition-input.generic-popup-input{
    width: 29px;
    padding-left: 0px;
    padding-right: 0px;
}

.generic-popup-input{
    height: 35px;
    width: 200px;
    box-shadow: var(--shadow-elevation-low);
    border-radius: 5px;
    border: 0px solid;
    background-color: var(--popup-button-bg);
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    text-align:center
}

.generic-popup-input::placeholder{
    color: var(--input-palceholder);
}

#popup-transicao-input-list{
    max-width: 200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px
}

.blink {
    animation: blinker 0.4s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 20%;
    }
  }